.product-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.product-lists {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  width: 30vh;
  padding: 1vw;
  margin: 10px 30px;
}

.product-img-content {
  position: relative;
}

.product-img {
  width: 30vh;
  height: 30vh;
}

.product-name {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 1.9vh;
  text-align: center;
  background-color: grey;
  color: aliceblue;
}

.product-info {
}
