.product-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.product-lists {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  width: 31vh;
  padding: 0.5vw;
  margin: 10px 33px;
  background-color: aliceblue;
}

.product-img-content {
  position: relative;
}

.product-img {
  width: 31vh;
  height: 31vh;
}

.product-name {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 1.9vh;
  text-align: center;
  background-color: grey;
  color: aliceblue;
}

.product-info {
  display: flex;
  justify-content: space-around;
}

.product-user-info {
  font-size: 14px;
  font-weight: bold;
}

.product-created-at {
  font-size: 12px;
}
