.product-post-main {
  margin: 1em 2em;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  border-left: solid 2px black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
}

.img-upload {
  padding: 1vh 0;
}
.click-upload {
  margin: 15px 0;
  min-width: 250px;
  margin-bottom: 15px;
}

.image-set {
  width: 33vh;
}

.products-text {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}
.select-box {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 1vh;
}
.products-text {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.products-explanation {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}
.cost-word {
  font-size: 16px;
}
.product-cost {
  display: flex;
}
.price-input {
  width: 100%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.post-btn-contents {
  width: 100%;
  text-align: center;
}

.post-btn {
  background: #c51fac;
  border: 1px solid #b424b4;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin: 3vh.0;
  box-shadow: 0 0 10px rgba(19, 19, 16, 0.9);
  border-radius: 3%;
}

@media screen and (max-width: 620px) {
  .click-upload {
    font-size: 70%;
  }
  .weight-bold-text {
    font-size: 16px;
  }
  .products-text {
    height: 30px;
    font-size: 14px;
  }
  .select-box {
    font-size: 11px;
  }
  .price-input {
    font-size: 14px;
  }
  .post-btn {
    height: 36px;
    margin: 2vh.0;
  }
}
