.show-img {
  width: 100%;
  margin: 0 0;
  height: 440px;
  background-color: #f5f5f5;
  object-fit: contain;
  border-radius: 10px;
}

.show-info {
  padding: 10px 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.show-product-content {
  text-align: start;
}

.show-product-info {
  font-size: 16px;
  margin-left: 20px;
  padding: 10px 0;
}

.show-product-item {
  font-size: 20px;
  background: linear-gradient(transparent 90%, #ffff00 0%);
}

/* コメント */
.comment-title {
  font-size: 24px;
  width: 100%;
  background: linear-gradient(transparent 90%, #7044e9 0%);
  margin: 5px auto 20px;
}

.comment-btn {
  width: 80%;
  background-color: rgb(233, 124, 81);
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  padding: 1vh 8vw;
  border-radius: 3%;
  box-shadow: 0 0 3px rgba(19, 19, 16, 0.9);
}

.comment-content {
  width: 440px;
  margin: 0 5px 20px;
  background: linear-gradient(transparent 99%, gray 0%);
}

.comment-maincontent {
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.comment-subcontent {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.comment-date {
  margin: 0 10px;
}
.comment-delete {
  color: black;
}

/* 編集と削除 */
.edit-destroy-title {
  font-size: 24px;
  width: 100%;
  background: linear-gradient(transparent 90%, #0a090a 0%);
  margin: 40px auto 5px;
}
.product-edit {
  background-color: rgb(245, 185, 210);
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 5px 0px;
  padding: 1vh 8vw;
  border-radius: 3%;
  width: 30%;
  border: 1px solid #232322;
  box-shadow: 0 0 3px rgba(19, 19, 16, 0.9);
}
.product-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 5px 0px;
  padding: 1vh 8vw;
  border-radius: 3%;
  width: 30%;
  border: 1px solid #232322;
  box-shadow: 0 0 3px rgba(19, 19, 16, 0.9);
}

@media screen and (max-width: 650px) {
  .show-img {
    height: 220px;
  }
  .show-info {
    width: 100%;
  }
  .comment-content {
    width: 100%;
  }

  .comment-title,
  .edit-destroy-title {
    font-size: 20px;
  }

  .show-product-info {
    font-size: 14px;
  }

  .show-product-item {
    font-size: 16px;
  }

  .comment-user,
  .comment-delete,
  .comment-date {
    font-size: 12px;
  }
  .comment-btn,
  .product-edit,
  .product-destroy {
    font-size: 16px;
    padding: 0.5vh 4vw;
  }
  .product-edit,
  .product-destroy {
    width: 70%;
  }
}
