.alert {
  font-size: 14px;
  height: 16px;
  width: 100%;
  text-align: center;
  background-color: dodgerblue;
  color: aliceblue;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .alert {
    font-size: 12px;
    height: 14px;
  }
}
