.alert {
  font-size: 20px;
  height: 30px;
  position: fixed;
  top: 130px;
  width: 100%;
  text-align: center;
  background-color: dodgerblue;
  color: aliceblue;
  padding: 5px;
  margin-bottom: 10px;
}
