.container {
  z-index: 9999;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #f0f0aa;
  padding: 5px;
}

.nav-header {
  margin: 5px auto 5px 20px;
}

.title {
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.item {
  width: 150px;
  height: 70px;
  margin: 3px;
  margin-right: 10px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

li {
  list-style: none;
  float: left;
}

.product {
  background-color: rgb(210, 150, 30);
  border-radius: 25%;
  margin-right: 10px;
  padding-left: 5px;
}

.fa-industry {
  color: pink;
}

@media screen and (max-width: 620px) {
  .item {
    font-size: 80%;
    width: auto;
  }
  .title-word {
    font-size: 80%;
    width: auto;
  }
  .nav-word {
    font-size: 80%;
    width: auto;
  }
}
