
<%= render "shared/nav"%>
<%= render 'shared/flash_messages' %>

<div>
  <% @products.each do |product| %>
    <%= image_tag product.image.variant(resize: '300x200') , class: "" if product.image.attached? %>
  <% end %>
</div>


<%= render "shared/footer"%>


